/StoreManagementProFinal/build/
/StoreManagementProFinal/dist/
/StoreManagementProFinal/nbproject/private/
/StroreMangement/dist/
/FightManagementSystem/nbproject/private/
/VehicleManagement/nbproject/private/
/VehicleManagement/build/
